<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Text to insert
    <form action="/api/long-text/add" method="post">
      <textarea name="text" cols="30" rows="10" placeholder="Text to add in the DB"></textarea>
      <br />
      <input type="text" name="id"  placeholder="ID of the AI">
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
