<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/api/new/bot" method="post">
        <input type="text" name="name" placeholder="name site" />
        <input type="text" name="description" placeholder="description" />
        <input type="text" name="message" placeholder="first message" />
        <input type="text" name="key" placeholder="OpenAI Key"/>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
