<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

<body style="background:url(https://websenseai.netlify.app/assets/blur_bg-BWPdiDAD.png); background-color:black;background-repeat: no-repeat;background-size:cover;color:#FFFFFFDE;font-family:Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; font-weight:700; height:100vh; overflow:hidden; padding:2rem; font-size:100%">
    
        <h1 style="display:block;font-size:4em; font-weight:700; line-height:1.2; margin:1em; text-align:center" align="center">WebSenseAI</h1>
        <img id="logo" src="https://websenseai.netlify.app/assets/open-button-BQ6I73UR.png" style="aspect-ratio:1;display:block; margin-left:auto;margin-right: auto;margin-bottom:5em; width:5em" width="5em">
        <div style="display:block;font-size:1.5em; font-weight:600; width:90%; margin-left:auto; margin-right:auto">
            <p>Hello {{username}}!</p>
            <p>Your Bot is sucessfully trained!</p>
            <p>Go to your <a href="%7B%7Blink%7D%7D" style="color:#4629F2; text-decoration:none">dashboard</a> to embed the chatbot in your site and adjust settings.</p>
        </div>
</body>

</html>